[package]
name = "liquid-cache-benchmarks"
description = "LiquidCache Benchmarks"
edition = { workspace = true }
publish = false

[dependencies]
liquid-cache-server = { workspace = true }
liquid-cache-client = { workspace = true }
liquid-cache-parquet = { workspace = true }
liquid-cache-common = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
datafusion = { workspace = true }
tokio = { workspace = true }
log = { workspace = true }
arrow-flight = { workspace = true }
tonic = { workspace = true }
clap = { version = "4.5.32", features = ["derive"] }
url = { workspace = true }
mimalloc = "0.1.44"
pprof = { version = "0.14.0", features = ["flamegraph"] }
serde_json.workspace = true
serde.workspace = true
sysinfo = { version = "0.33.1", default-features = false, features = [
	"network",
] }
object_store = { workspace = true, features = ["http"] }
bytes = { workspace = true }
prost = { workspace = true }
fsst-rs = "0.5.2"
parquet = { workspace = true }
fastrace = { version = "0.7.9", features = ["enable"] }
logforth = "0.23.1"
fastrace-tonic = { workspace = true }
fastrace-opentelemetry = "0.9"
opentelemetry = "0.28.0"
opentelemetry_sdk = "0.28.0"
opentelemetry-otlp = { version = "0.28.0", features = ["trace", "grpc-tonic"] }

[[bin]]
name = "clickbench_client"
path = "clickbench/clickbench_client.rs"

[[bin]]
name = "tpch_client"
path = "tpch/tpch_client.rs"

[[bin]]
name = "bench_server"
path = "bench_server.rs"
