[package]
name = "liquid-cache-benchmarks"
description = "LiquidCache Benchmarks"
edition = { workspace = true }
publish = false

[dependencies]
liquid-cache-server = { workspace = true }
liquid-cache-client = { workspace = true }
liquid-cache-parquet = { workspace = true }
liquid-cache-common = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
datafusion = { workspace = true }
tokio = { workspace = true }
log = { workspace = true }
arrow-flight = { workspace = true }
tonic = { workspace = true }
clap = { version = "4.5.38", features = ["derive"] }
url = { workspace = true }
mimalloc = "0.1.46"
serde_json.workspace = true
serde.workspace = true
sysinfo = { version = "0.35.1", default-features = false, features = [
	"network",
] }
object_store = { workspace = true, features = ["http"] }
bytes = { workspace = true }
prost = { workspace = true }
fsst-rs = "0.5.2"
parquet = { workspace = true }
fastrace = { version = "0.7.9", features = ["enable"] }
fastrace-tonic = { workspace = true }
fastrace-opentelemetry = "0.10"
opentelemetry = "0.29.1"
opentelemetry_sdk = "0.29.0"
opentelemetry-otlp = { version = "0.29.0", features = ["trace", "grpc-tonic"] }
tower = "0.5.2"
logforth = { version = "0.25.0", features = ["opentelemetry"] }
reqwest = { version = "0.12.15", default-features = false, features = ["json"] }
uuid = { version = "1.13.0", features = ["v4"] }
axum = "0.8"
tower-http = { version = "0.6", features = ["fs"] }
tempfile = { workspace = true }

[[bin]]
name = "clickbench_client"
path = "clickbench/clickbench_client.rs"

[[bin]]
name = "tpch_client"
path = "tpch/tpch_client.rs"

[[bin]]
name = "tpch_inprocess"
path = "tpch/tpch_inprocess.rs"

[[bin]]
name = "bench_server"
path = "bench_server.rs"
