[package]
name = "liquid-cache-benchmarks"
description = "LiquidCache Benchmarks"
edition = { workspace = true }

[[bin]]
name = "create_nano_hits"
path = "create_nano_hits.rs"


[dependencies]
liquid-cache-server = { workspace = true }
liquid-cache-client = { workspace = true }
liquid-parquet = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
datafusion = { workspace = true }
tokio = { workspace = true }
log = { workspace = true }
arrow-flight = { workspace = true }
tonic = { workspace = true }
clap = "4.5.28"
env_logger = "0.11.6"
url = { workspace = true }
owo-colors = { workspace = true }
mimalloc = "0.1.43"
pprof = { version = "0.14.0", features = ["flamegraph"] }
serde_json.workspace = true
serde.workspace = true
parquet = { workspace = true }
