[package]
name = "examples"
edition = { workspace = true }

[[example]]
name = "server"
path = "server.rs"

[[example]]
name = "client"
path = "client.rs"

[dependencies]
datafusion = { workspace = true }
liquid-cache-server = { workspace = true }
liquid-cache-client = { workspace = true }
liquid-common = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
log = { workspace = true }
arrow-flight = { workspace = true }
tonic = { workspace = true }
env_logger = "0.11.6"
url = { workspace = true }
