[package]
name = "examples"
edition = { workspace = true }

[[bin]]
name = "server"
path = "server.rs"

[[bin]]
name = "client"
path = "client.rs"

[dependencies]
datafusion = { workspace = true }
liquid-cache-server = { workspace = true }
liquid-cache-client = { workspace = true }
async-trait = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
log = { workspace = true }
arrow-flight = { workspace = true }
tonic = { workspace = true }
clap = "4.5.27"
env_logger = "0.11.5"
url = { workspace = true }
