name: Kani Verification

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  kani:
    name: Run Kani proofs
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify storage crate with Kani
        uses: model-checking/kani-github-action@v1.1
        with:
          working-directory: src/storage
          args: "--locked --features kani"
